.reactions {
    position: relative;

    &-selectors {
        position: absolute;
        bottom: 100%;
        margin-bottom: 10px;
    }

    &-emoji-groups {
        .active {
            color: #fff;
            background-color: #0084ff;
        }
    }
}
